%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

% %% Additional library directories to add to the code path
% {lib_dirs, []}.

{erl_opts, [debug_info]}.

{deps_dir, ["deps"]}.

{deps, [{couchbeam, ".*",
         {git, "https://github.com/benoitc/couchbeam.git", "HEAD"}}
       ]}.
